.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.vagrant/
.tmp/
.librarian/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
report.json
acceptance_tests/*.png


#intellij
*.iml
*.idea

.venv
